<!-- <header class="sticky">
      <div class="d-flex  flex-md-row p-3 px-md-4 mb-3 shadow-sm">
         <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" data-target="#navbarTogglerDemo02" type="button" data-toggle="sidebar-show">
          <span class="navbar-toggler-icon"></span>
        </button>
        <h5 class="my-0 mr-md-auto font-weight-normal">Syllogistek</h5>
  
        <nav class="my-2 my-md-0 mr-md-3 " id="navbarTogglerDemo02">
          <a class="p-2 text-white" href="#">About Syllogistek</a>
          <a class="p-2 text-white" href="#">Learning Services</a>
          <a class="p-2 text-white" href="#">Enterprise Services</a>
          <a class="nav-link p-2 text-white" href="#">Enroll</a>
          <a class="nav-link p-2 text-white" href="#">Contact Us</a>
        </nav>
      </div>
    </header> -->




<header>
    <nav class=" sticky navbar navbar-expand-lg">
            <!-- <a class="navbar-brand" routerLink="">
              
            </a> -->
            <a routerLink="" style="color:azure;" class="my-0 mr-md-auto font-weight-normal"><h5 >Syllogistek</h5></a>
            <!-- <h5 class="my-0 mr-md-auto font-weight-normal">DemoApp</h5> -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon">
                <div class="icon">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </div>
              </span>
              <!-- <span class="sr-only">Toggle navigation</span> -->
              
            </button>
          
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
              <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                  <li class="nav-item active">
                      <!-- <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a> -->
                      <a class=" p-2 d-block" style="color:azure;"  routerLink="">Home</a>
                    </li>
                <li class="nav-item">
                  <!-- <a class="nav-link" href="#">Link</a> -->
                  <a class="d-block p-2 text-white" routerLink="academia">Academia</a>
                </li>
                <li class="nav-item">
                    <a class="d-block p-2 text-white" routerLink="enterprise" >Enterprise</a>
                  <!-- <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a> -->
                </li>
                <li class="nav-item active">
                    <!-- <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a> -->
                    <a class="d-block p-2 text-white"  routerLink="about">About Syllogistek</a>
                  </li>
                <li class="nav-item">
                    <a class="d-block p-2 text-white" routerLink="xyz" >Contact Us</a>
                  <!-- <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a> -->
                </li>
                <li class="nav-item">
                    
                    <a (click)="openForm()" class="nav-link btn btn-outline-success" >Enroll</a>
                  <!-- <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a> -->
                </li>
              </ul>
            
            </div>
          </nav>
</header>
<!-- 
          <header class="sticky">
            <div class="d-flex  flex-md-row p-3 px-md-4 mb-3 shadow-sm">
               <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show">
                <span class="navbar-toggler-icon"></span>
              </button>
              <h5 class="my-0 mr-md-auto font-weight-normal">Syllogistek</h5>
        
              <nav class="my-2 my-md-0 mr-md-3">
                <a class="p-2 text-white" href="#">About Syllogistek</a>
                <a class="p-2 text-white" href="#">Learning Services</a>
                <a class="p-2 text-white" href="#">Enterprise Services</a>
                <a class="p-2 text-white" href="#">Enroll</a>
                <a class="p-2 text-white" href="#">Contact Us</a>
              </nav>
            </div>
          </header> -->