<div class="modal-header">
        <h4 class="modal-title">Register yourself!!</h4>
       
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
     
      <div class="modal-body">
          
            <!-- <form action="/action_page.php">
                     <div class="form-group">
                     <input type="text" class="form-control" id="name" placeholder="Name *">
                   </div>
                
                   <div class="form-group">
                     <input type="email" class="form-control" id="email" placeholder="Email *">
                   </div>
                   <div class="form-group">
                     <input type="tel" class="form-control" id="pwd" placeholder="Contact Number *">
                   </div>
                   <div class="form-group">
                       <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Courses Interested in (Comma Separated): "></textarea>
                     </div>
                   <button type="submit" class="btn btn-primary btn-block">Send</button>
                  </form>-->
                 
               
                 <div role="form" class="wpcf7" id="wpcf7-f42-o2" lang="en-US" dir="ltr">
     <div class="screen-reader-response"></div>
     <form action="/our-offerings/#wpcf7-f42-o2" method="post" class="wpcf7-form" novalidate="novalidate">
     <div style="display: none;">
     <input type="hidden" name="_wpcf7" value="42">
     <input type="hidden" name="_wpcf7_version" value="4.9.2">
     <input type="hidden" name="_wpcf7_locale" value="en_US">
     <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f42-o2">
     <input type="hidden" name="_wpcf7_container_post" value="0">
     </div>
     <p><span class="wpcf7-form-control-wrap text-205"><input type="text" name="text-205" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control" aria-required="true" aria-invalid="false" placeholder="Name *"></span></p>
     <p><span class="wpcf7-form-control-wrap email-775"><input type="email" name="email-775" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email form-control" aria-required="true" aria-invalid="false" placeholder="Email *"></span></p>
     <p><span class="wpcf7-form-control-wrap tel-275"><input type="tel" name="tel-275" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel form-control" aria-required="true" aria-invalid="false" placeholder="Contact Number *"></span></p>
     <p><span class="wpcf7-form-control-wrap interested"><input type="text" name="interested" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control" aria-required="true" aria-invalid="false" placeholder="Interested In *"></span></p>
     <p><span class="wpcf7-form-control-wrap textarea-15"><textarea name="textarea-15" cols="40" rows="3" class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required form-control" aria-required="true" aria-invalid="false" placeholder="Message *"></textarea></span></p>
     <div class="wpcf7-form-control-wrap"><div data-sitekey="6LdixkEUAAAAACVDFlUg1rB5thqN1GgCA7u_fgvx" class="wpcf7-form-control g-recaptcha wpcf7-recaptcha form-control"><div style="width: 304px; height: 78px;"><div><iframe src="https://www.google.com/recaptcha/api2/anchor?ar=1&amp;k=6LdixkEUAAAAACVDFlUg1rB5thqN1GgCA7u_fgvx&amp;co=aHR0cDovL3d3dy5zeWxsb2dpc3Rlay5jb206ODA.&amp;hl=en&amp;v=mhgGrlTs_PbFQOW4ejlxlxZn&amp;size=normal&amp;cb=muti9rgk3tqw" width="304" height="78" role="presentation" name="a-o70mudk4qbd4" frameborder="0" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox"></iframe></div><textarea id="g-recaptcha-response-1" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"></textarea></div></div>
     <noscript>
         <div style="width: 302px; height: 422px;">
             <div style="width: 302px; height: 422px; position: relative;">
                 <div style="width: 302px; height: 422px; position: absolute;">
                     <iframe src="https://www.google.com/recaptcha/api/fallback?k=6LdixkEUAAAAACVDFlUg1rB5thqN1GgCA7u_fgvx" frameborder="0" scrolling="no" style="width: 302px; height:422px; border-style: none;">
                     </iframe>
                 </div>
                 <div style="width: 300px; height: 60px; border-style: none; bottom: 12px; left: 25px; margin: 0px; padding: 0px; right: 25px; background: #f9f9f9; border: 1px solid #c1c1c1; border-radius: 3px;">
                     <textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid #c1c1c1; margin: 10px 25px; padding: 0px; resize: none;">
                     </textarea>
                 </div>
             </div>
         </div>
     </noscript>
     </div>
     <p><input type="submit" value="Send" class="wpcf7-form-control wpcf7-submit btn"></p>
     <input type="hidden" class="wpcf7-pum" value="{&quot;closepopup&quot;:false,&quot;closedelay&quot;:0,&quot;openpopup&quot;:false,&quot;openpopup_id&quot;:0}"><div class="wpcf7-response-output wpcf7-display-none"></div></form></div>      </div>
    
  <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
    </div>
  